# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'
steps:
  - task: Bash@3
    # condition: and(contains(variables['Build.SourceVersionMessage'], 'replicate'), succeeded())
    inputs:
      targetType: 'inline'
      script: |
        GH_TOKEN=$token
        echo $(Build.SourceVersionMessage)
        git config --global user.email "mohamedalaa1@outlook.com"
        git config --global user.name "Mohamed Alaa"
        # git branch -r 
        git checkout origin/a
        git merge origin/main
        git commit -a
        git push origin HEAD:origin/a
    