# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'
steps:
  - task: Bash@3
    condition: and(contains(variables['Build.SourceVersionMessage'], 'replicate'), succeeded())
    inputs:
      targetType: 'inline'
      script: |
        git config --global user.email "mohamedalaa1@outlook.com"
        git config --global user.name "Mohamed Alaa"
        Branches=$(git branch -r | cut -d '/' -f 2)
        latestCommit=$(git log --format="%H" -n 1)
        for Branch in $Branches
        do
          git checkout $Branch
          git cherry-pick  $latestCommit --strategy-option theirs
          git push https://$(token)@github.com/mohamed3laa33/testbranches.git  HEAD:$Branch
        done

